anomalib==1.2.0
antlr4-python3-runtime==4.9.3
build==1.2.2.post1
click==8.1.7
docstring_parser==0.16
importlib_resources==6.4.5
jsonargparse==4.34.1
lightning-utilities==0.11.9
markdown-it-py==3.0.0
mdurl==0.1.2
omegaconf==2.3.0
packaging==24.2
pip-tools==7.4.1
Pygments==2.18.0
pyproject_hooks==1.2.0
PyYAML==6.0.2
rich==13.9.4
rich-argparse==1.6.0
typeshed_client==2.7.0
typing_extensions==4.12.2
